.u-section-1 .u-sheet-1 {
  min-height: 525px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 132px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  animation-timing-function: linear;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 15px;
  margin: 29px auto 43px 0;
  padding: 24px 80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: auto;
    padding-right: 51px;
    padding-left: 49px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 15px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 15px !important;
}